<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p>
    <hr>
    <% user.forEach(user => { %>
      <ul>
        <li><%= user._name %></li>
        <li><%= user._token %></li>
      </ul>

    <%  }); %>
    <ul>
      <% Object.keys(token).forEach(taskKey => { %>
        <li><strong><%= taskKey %>:</strong> <%= token[taskKey] %></li>
      <% }); %>
    </ul>
      
   
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>

